# Análise Visual de Dados, Censo 2010 Natal - RN

O Censo Demográfico é a mais complexa operação estatística realizada por um país, quando são investigadas as características de toda a população e dos domicílios do Território Nacional.

São duas planilhas (Domicilio01_UF.xls e Domicilio02_UF.xls, onde UF1 é a sigla da Unidade da Federação) que fornecem informações sobre características dos domicílios, informações sobre os moradores por sexo, idade e características do domicílio;

Todas as planilhas indicadas acima têm a variável de identificação do setor censitário (Cod_setor), e a situação do setor censitário. Os registros (ou linhas) de cada planilha estão classificados em ordem crescente de código do setor censitário. A variável Tipo do setor só está presente na tabela “Básico”.

Ver arquivo 'Base de informações do Censo Demográfico 2010: Resultados do Universo por setor censitário' para informações das tabelas e dados

In [1]:
import pandas as pd
import numpy as np

## Domicilio01_RN

Lendo e analisando arquivo Domicilio01_RN:

In [2]:
domicilio01_RN = pd.read_excel("data/Domicilio01_RN.xls")
print(domicilio01_RN.shape)
domicilio01_RN.head()

(4289, 243)

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V232,V233,V234,V235,V236,V237,V238,V239,V240,V241
0,240010905000001,1,87,87,87,0,0,75,1,5,...,0,0,1,1,0,0,0,0,0,0
1,240010905000002,2,160,160,160,0,0,125,0,22,...,0,0,0,0,0,0,0,0,0,0
2,240010905000003,1,229,229,228,0,1,167,1,34,...,0,0,0,0,0,0,0,0,0,0
3,240010905000004,1,88,88,X,X,X,X,X,X,...,X,X,X,X,X,X,X,X,X,X
4,240010905000005,1,129,129,129,0,0,104,3,19,...,0,0,0,0,0,0,0,0,0,0

Substituindo 'X' por Nan

In [3]:
domicilio01_RN = domicilio01_RN.replace({'X': np.nan})
domicilio01_RN.head()

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V232,V233,V234,V235,V236,V237,V238,V239,V240,V241
0,240010905000001,1,87,87,87.0,0.0,0.0,75.0,1.0,5.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,240010905000002,2,160,160,160.0,0.0,0.0,125.0,0.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,240010905000003,1,229,229,228.0,0.0,1.0,167.0,1.0,34.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,240010905000004,1,88,88,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,240010905000005,1,129,129,129.0,0.0,0.0,104.0,3.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Domicilio02_RN

Lendo e analisando arquivo Domicilio02_RN:

In [4]:
domicilio02_RN = pd.read_excel("data/Domicilio02_RN.xls")
domicilio02_RN = domicilio02_RN.replace({'X': np.nan})
print(domicilio02_RN.shape)
domicilio02_RN.head()

(4289, 134)

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V123,V124,V125,V126,V127,V128,V129,V130,V131,V132
0,240010905000001,1,276,276.0,276.0,0.0,0.0,233.0,4.0,17.0,...,0.0,0.0,0.0,144.0,144.0,0.0,0.0,142.0,1.0,1.0
1,240010905000002,2,608,608.0,608.0,0.0,0.0,496.0,0.0,72.0,...,0.0,0.0,0.0,313.0,313.0,0.0,0.0,308.0,5.0,0.0
2,240010905000003,1,815,815.0,811.0,0.0,4.0,603.0,3.0,107.0,...,0.0,0.0,0.0,422.0,422.0,0.0,0.0,408.0,9.0,5.0
3,240010905000004,1,259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,240010905000005,1,423,423.0,423.0,0.0,0.0,337.0,10.0,64.0,...,0.0,0.0,0.0,219.0,219.0,0.0,0.0,206.0,9.0,4.0

### Código do setor censitário

Indica o código numérico completo do setor censitário. Possui 15
dígitos divididos da seguinte forma: UFMMMMMDDSDSSSS, onde:
UF – Unidade da Federação,
MMMMM – Município,
DD – Distrito,
SD – Subdistrito,
SSSS – Setor

Situacao_setor - Código de situação do setor censitário

## Basico_RN

Lendo e analisando arquivo Basico_RN:

In [5]:
basico_RN = pd.read_excel("data/Basico_RN.xls")
print(basico_RN.info())
basico_RN.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4289 entries, 0 to 4288
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cod_setor            4289 non-null   int64
 1   Cod_Grandes Regiões  4289 non-null   int64
 2   Nome_Grande_Regiao   4289 non-null   object
 3   Cod_UF               4289 non-null   object
 4   Nome_da_UF           4289 non-null   object
 5   Cod_meso             4289 non-null   int64
 6   Nome_da_meso         4289 non-null   object
 7   Cod_micro            4289 non-null   int64
 8   Nome_da_micro        4289 non-null   object
 9   Cod_RM               4289 non-null   int64
 10  Nome_da_RM           4289 non-null   object
 11  Cod_municipio        4289 non-null   int64
 12  Nome_do_municipio    4289 non-null   object
 13  Cod_distrito         4289 non-null   int64
 14  Nome_do_distrito     4289 non-null   object
 15  Cod_subdistrito      4289 non-null   int64
 16  Nome_do_subdistrito  4289 non-null   object
 17  Cod_bairro           4289 non-null   int64
 18  Nome_do_bairro       4289 non-null   object
 19  Situacao_setor       4289 non-null   int64
 20  Tipo_setor           4289 non-null   int64
 21  V001                 4273 non-null   float64
 22  V002                 4273 non-null   float64
 23  V003                 4273 non-null   float64
 24  V004                 4273 non-null   float64
 25  V005                 4273 non-null   float64
 26  V006                 4273 non-null   float64
 27  V007                 4271 non-null   float64
 28  V008                 4271 non-null   float64
 29  V009                 4288 non-null   float64
 30  V010                 4288 non-null   float64
 31  V011                 4286 non-null   float64
 32  V012                 4286 non-null   float64
dtypes: float64(12), int64(11), object(10)
memory usage: 1.1+ MB
None

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,240010905000001,2,Região Nordeste,RN,Rio Grande do Norte,2402,Central Potiguar,24012,Seridó Oriental,0,...,3.17,2.73,534.07,101768.11,588.15,79989.08,309.33,128865.34,559.63,92790.07
1,240010905000002,2,Região Nordeste,RN,Rio Grande do Norte,2402,Central Potiguar,24012,Seridó Oriental,0,...,3.80,4.80,460.39,81469.25,526.16,58336.37,250.65,91098.05,483.19,63148.76
2,240010905000003,2,Região Nordeste,RN,Rio Grande do Norte,2402,Central Potiguar,24012,Seridó Oriental,0,...,3.56,3.23,589.68,1278759.28,789.68,1556170.13,320.10,541456.51,682.83,908410.67
3,240010905000004,2,Região Nordeste,RN,Rio Grande do Norte,2402,Central Potiguar,24012,Seridó Oriental,0,...,2.94,1.39,961.83,576891.50,1007.63,557986.55,570.32,561080.80,885.82,592215.48
4,240010905000005,2,Região Nordeste,RN,Rio Grande do Norte,2402,Central Potiguar,24012,Seridó Oriental,0,...,3.28,1.89,1296.43,2321536.28,1359.67,2349019.65,725.15,1903605.91,1186.61,2570451.04

In [6]:
new_columns = []
for col in basico_RN.columns:
    if(col[:1] == 'V'):
        name = 'Basico_' + col
        new_columns.append(name)
    else:
        new_columns.append(col)

Excluindo e renomeando algumas colunas:

In [7]:
basico_RN.columns = new_columns
basico_RN = basico_RN.drop(['Cod_Grandes Regiões', 'Nome_Grande_Regiao', 'Cod_UF', 'Nome_da_UF '], axis=1)
print(basico_RN.shape)
basico_RN.head()

(4289, 29)

,Cod_setor,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,Nome_da_RM,Cod_municipio,Nome_do_municipio,Cod_distrito,...,Basico_V003,Basico_V004,Basico_V005,Basico_V006,Basico_V007,Basico_V008,Basico_V009,Basico_V010,Basico_V011,Basico_V012
0,240010905000001,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,3.17,2.73,534.07,101768.11,588.15,79989.08,309.33,128865.34,559.63,92790.07
1,240010905000002,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,3.80,4.80,460.39,81469.25,526.16,58336.37,250.65,91098.05,483.19,63148.76
2,240010905000003,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,3.56,3.23,589.68,1278759.28,789.68,1556170.13,320.10,541456.51,682.83,908410.67
3,240010905000004,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,2.94,1.39,961.83,576891.50,1007.63,557986.55,570.32,561080.80,885.82,592215.48
4,240010905000005,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,3.28,1.89,1296.43,2321536.28,1359.67,2349019.65,725.15,1903605.91,1186.61,2570451.04

## Juntando arquivos

### Renomeando colunas Domicilio01 e Domicilio02:

In [8]:
new_columns = []
for col in domicilio01_RN.columns:
    if(col[:1] == 'V'):
        name = 'Domicilio01_RN_' + col
        new_columns.append(name)
    else:
        new_columns.append(col)
domicilio01_RN.columns = new_columns
domicilio01_RN = domicilio01_RN.drop('Situacao_setor', axis=1)
print(domicilio01_RN.shape)
domicilio01_RN.head()

(4289, 242)

,Cod_setor,Domicilio01_RN_V001,Domicilio01_RN_V002,Domicilio01_RN_V003,Domicilio01_RN_V004,Domicilio01_RN_V005,Domicilio01_RN_V006,Domicilio01_RN_V007,Domicilio01_RN_V008,Domicilio01_RN_V009,...,Domicilio01_RN_V232,Domicilio01_RN_V233,Domicilio01_RN_V234,Domicilio01_RN_V235,Domicilio01_RN_V236,Domicilio01_RN_V237,Domicilio01_RN_V238,Domicilio01_RN_V239,Domicilio01_RN_V240,Domicilio01_RN_V241
0,240010905000001,87,87,87.0,0.0,0.0,75.0,1.0,5.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,240010905000002,160,160,160.0,0.0,0.0,125.0,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,240010905000003,229,229,228.0,0.0,1.0,167.0,1.0,34.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,240010905000004,88,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,240010905000005,129,129,129.0,0.0,0.0,104.0,3.0,19.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
new_columns = []
for col in domicilio02_RN.columns:
    if(col[:1] == 'V'):
        name = 'Domicilio02_RN_' + col
        new_columns.append(name)
    else:
        new_columns.append(col)
domicilio02_RN.columns = new_columns
domicilio02_RN = domicilio02_RN.drop('Situacao_setor', axis=1)
print(domicilio02_RN.shape)
domicilio02_RN.head()

(4289, 133)

,Cod_setor,Domicilio02_RN_V001,Domicilio02_RN_V002,Domicilio02_RN_V003,Domicilio02_RN_V004,Domicilio02_RN_V005,Domicilio02_RN_V006,Domicilio02_RN_V007,Domicilio02_RN_V008,Domicilio02_RN_V009,...,Domicilio02_RN_V123,Domicilio02_RN_V124,Domicilio02_RN_V125,Domicilio02_RN_V126,Domicilio02_RN_V127,Domicilio02_RN_V128,Domicilio02_RN_V129,Domicilio02_RN_V130,Domicilio02_RN_V131,Domicilio02_RN_V132
0,240010905000001,276,276.0,276.0,0.0,0.0,233.0,4.0,17.0,4.0,...,0.0,0.0,0.0,144.0,144.0,0.0,0.0,142.0,1.0,1.0
1,240010905000002,608,608.0,608.0,0.0,0.0,496.0,0.0,72.0,0.0,...,0.0,0.0,0.0,313.0,313.0,0.0,0.0,308.0,5.0,0.0
2,240010905000003,815,815.0,811.0,0.0,4.0,603.0,3.0,107.0,3.0,...,0.0,0.0,0.0,422.0,422.0,0.0,0.0,408.0,9.0,5.0
3,240010905000004,259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,240010905000005,423,423.0,423.0,0.0,0.0,337.0,10.0,64.0,0.0,...,0.0,0.0,0.0,219.0,219.0,0.0,0.0,206.0,9.0,4.0

### Juntando os arquivos domicilio01_RN e domicilio02_RN:

In [10]:
rn_domicilios = domicilio01_RN.merge(domicilio02_RN, on='Cod_setor')
print(rn_domicilios.shape)
rn_domicilios.head()

(4289, 374)

,Cod_setor,Domicilio01_RN_V001,Domicilio01_RN_V002,Domicilio01_RN_V003,Domicilio01_RN_V004,Domicilio01_RN_V005,Domicilio01_RN_V006,Domicilio01_RN_V007,Domicilio01_RN_V008,Domicilio01_RN_V009,...,Domicilio02_RN_V123,Domicilio02_RN_V124,Domicilio02_RN_V125,Domicilio02_RN_V126,Domicilio02_RN_V127,Domicilio02_RN_V128,Domicilio02_RN_V129,Domicilio02_RN_V130,Domicilio02_RN_V131,Domicilio02_RN_V132
0,240010905000001,87,87,87.0,0.0,0.0,75.0,1.0,5.0,1.0,...,0.0,0.0,0.0,144.0,144.0,0.0,0.0,142.0,1.0,1.0
1,240010905000002,160,160,160.0,0.0,0.0,125.0,0.0,22.0,0.0,...,0.0,0.0,0.0,313.0,313.0,0.0,0.0,308.0,5.0,0.0
2,240010905000003,229,229,228.0,0.0,1.0,167.0,1.0,34.0,1.0,...,0.0,0.0,0.0,422.0,422.0,0.0,0.0,408.0,9.0,5.0
3,240010905000004,88,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,240010905000005,129,129,129.0,0.0,0.0,104.0,3.0,19.0,0.0,...,0.0,0.0,0.0,219.0,219.0,0.0,0.0,206.0,9.0,4.0

### Juntando os arquivos basico_RN e domicilios:

In [12]:
domicilios_rn = basico_RN.merge(rn_domicilios, on='Cod_setor')
print(domicilios_rn.info())
print(domicilios_rn.shape)
domicilios_rn.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4289 entries, 0 to 4288
Columns: 402 entries, Cod_setor to Domicilio02_RN_V132
dtypes: float64(380), int64(15), object(7)
memory usage: 13.2+ MB
None
(4289, 402)

,Cod_setor,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,Nome_da_RM,Cod_municipio,Nome_do_municipio,Cod_distrito,...,Domicilio02_RN_V123,Domicilio02_RN_V124,Domicilio02_RN_V125,Domicilio02_RN_V126,Domicilio02_RN_V127,Domicilio02_RN_V128,Domicilio02_RN_V129,Domicilio02_RN_V130,Domicilio02_RN_V131,Domicilio02_RN_V132
0,240010905000001,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,0.0,0.0,0.0,144.0,144.0,0.0,0.0,142.0,1.0,1.0
1,240010905000002,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,0.0,0.0,0.0,313.0,313.0,0.0,0.0,308.0,5.0,0.0
2,240010905000003,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,0.0,0.0,0.0,422.0,422.0,0.0,0.0,408.0,9.0,5.0
3,240010905000004,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,240010905000005,2402,Central Potiguar,24012,Seridó Oriental,0,Municípios não pertencentes a estrutura de RM,2400109,ACARI,240010905,...,0.0,0.0,0.0,219.0,219.0,0.0,0.0,206.0,9.0,4.0

In [13]:
#Salvando arquivo
domicilios_rn.to_csv("domicilios_rn.csv", index=False, encoding="ISO-8859-1")

## Filtrando para municipio de Natal

In [14]:
domicilios_natal = domicilios_rn[domicilios_rn.Nome_do_municipio == 'NATAL'].reset_index(drop=True)
print(domicilios_natal.info())
print(domicilios_natal.shape)
domicilios_natal.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Columns: 402 entries, Cod_setor to Domicilio02_RN_V132
dtypes: float64(380), int64(15), object(7)
memory usage: 2.7+ MB
None
(895, 402)

,Cod_setor,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,Nome_da_RM,Cod_municipio,Nome_do_municipio,Cod_distrito,...,Domicilio02_RN_V123,Domicilio02_RN_V124,Domicilio02_RN_V125,Domicilio02_RN_V126,Domicilio02_RN_V127,Domicilio02_RN_V128,Domicilio02_RN_V129,Domicilio02_RN_V130,Domicilio02_RN_V131,Domicilio02_RN_V132
0,240810205060001,2404,Leste Potiguar,24018,Natal,8,RM Natal,2408102,NATAL,240810205,...,0.0,0.0,0.0,342.0,342.0,0.0,0.0,339.0,3.0,0.0
1,240810205060002,2404,Leste Potiguar,24018,Natal,8,RM Natal,2408102,NATAL,240810205,...,0.0,0.0,0.0,576.0,576.0,0.0,0.0,538.0,19.0,19.0
2,240810205060003,2404,Leste Potiguar,24018,Natal,8,RM Natal,2408102,NATAL,240810205,...,0.0,0.0,0.0,705.0,705.0,0.0,1.0,639.0,45.0,21.0
3,240810205060004,2404,Leste Potiguar,24018,Natal,8,RM Natal,2408102,NATAL,240810205,...,0.0,0.0,0.0,637.0,637.0,0.0,0.0,634.0,0.0,3.0
4,240810205060005,2404,Leste Potiguar,24018,Natal,8,RM Natal,2408102,NATAL,240810205,...,0.0,0.0,0.0,612.0,612.0,0.0,0.0,558.0,50.0,4.0

In [15]:
domicilios_natal.columns.values

array(['Cod_setor', 'Cod_meso', 'Nome_da_meso', 'Cod_micro',
       'Nome_da_micro', 'Cod_RM', 'Nome_da_RM', 'Cod_municipio',
       'Nome_do_municipio', 'Cod_distrito', 'Nome_do_distrito',
       'Cod_subdistrito', 'Nome_do_subdistrito', 'Cod_bairro',
       'Nome_do_bairro', 'Situacao_setor', 'Tipo_setor', 'Basico_V001',
       'Basico_V002', 'Basico_V003', 'Basico_V004', 'Basico_V005',
       'Basico_V006', 'Basico_V007', 'Basico_V008', 'Basico_V009',
       'Basico_V010', 'Basico_V011', 'Basico_V012', 'Domicilio01_RN_V001',
       'Domicilio01_RN_V002', 'Domicilio01_RN_V003',
       'Domicilio01_RN_V004', 'Domicilio01_RN_V005',
       'Domicilio01_RN_V006', 'Domicilio01_RN_V007',
       'Domicilio01_RN_V008', 'Domicilio01_RN_V009',
       'Domicilio01_RN_V010', 'Domicilio01_RN_V011',
       'Domicilio01_RN_V012', 'Domicilio01_RN_V013',
       'Domicilio01_RN_V014', 'Domicilio01_RN_V015',
       'Domicilio01_RN_V016', 'Domicilio01_RN_V017',
       'Domicilio01_RN_V018', 'Domicilio01_RN_V019',
       'Domicilio01_RN_V020', 'Domicilio01_RN_V021',
       'Domicilio01_RN_V022', 'Domicilio01_RN_V023',
       'Domicilio01_RN_V024', 'Domicilio01_RN_V025',
       'Domicilio01_RN_V026', 'Domicilio01_RN_V027',
       'Domicilio01_RN_V028', 'Domicilio01_RN_V029',
       'Domicilio01_RN_V030', 'Domicilio01_RN_V031',
       'Domicilio01_RN_V032', 'Domicilio01_RN_V033',
       'Domicilio01_RN_V034', 'Domicilio01_RN_V035',
       'Domicilio01_RN_V036', 'Domicilio01_RN_V037',
       'Domicilio01_RN_V038', 'Domicilio01_RN_V039',
       'Domicilio01_RN_V040', 'Domicilio01_RN_V041',
       'Domicilio01_RN_V042', 'Domicilio01_RN_V043',
       'Domicilio01_RN_V044', 'Domicilio01_RN_V045',
       'Domicilio01_RN_V046', 'Domicilio01_RN_V047',
       'Domicilio01_RN_V048', 'Domicilio01_RN_V049',
       'Domicilio01_RN_V050', 'Domicilio01_RN_V051',
       'Domicilio01_RN_V052', 'Domicilio01_RN_V053',
       'Domicilio01_RN_V054', 'Domicilio01_RN_V055',
       'Domicilio01_RN_V056', 'Domicilio01_RN_V057',
       'Domicilio01_RN_V058', 'Domicilio01_RN_V059',
       'Domicilio01_RN_V060', 'Domicilio01_RN_V061',
       'Domicilio01_RN_V062', 'Domicilio01_RN_V063',
       'Domicilio01_RN_V064', 'Domicilio01_RN_V065',
       'Domicilio01_RN_V066', 'Domicilio01_RN_V067',
       'Domicilio01_RN_V068', 'Domicilio01_RN_V069',
       'Domicilio01_RN_V070', 'Domicilio01_RN_V071',
       'Domicilio01_RN_V072', 'Domicilio01_RN_V073',
       'Domicilio01_RN_V074', 'Domicilio01_RN_V075',
       'Domicilio01_RN_V076', 'Domicilio01_RN_V077',
       'Domicilio01_RN_V078', 'Domicilio01_RN_V079',
       'Domicilio01_RN_V080', 'Domicilio01_RN_V081',
       'Domicilio01_RN_V082', 'Domicilio01_RN_V083',
       'Domicilio01_RN_V084', 'Domicilio01_RN_V085',
       'Domicilio01_RN_V086', 'Domicilio01_RN_V087',
       'Domicilio01_RN_V088', 'Domicilio01_RN_V089',
       'Domicilio01_RN_V090', 'Domicilio01_RN_V091',
       'Domicilio01_RN_V092', 'Domicilio01_RN_V093',
       'Domicilio01_RN_V094', 'Domicilio01_RN_V095',
       'Domicilio01_RN_V096', 'Domicilio01_RN_V097',
       'Domicilio01_RN_V098', 'Domicilio01_RN_V099',
       'Domicilio01_RN_V100', 'Domicilio01_RN_V101',
       'Domicilio01_RN_V102', 'Domicilio01_RN_V103',
       'Domicilio01_RN_V104', 'Domicilio01_RN_V105',
       'Domicilio01_RN_V106', 'Domicilio01_RN_V107',
       'Domicilio01_RN_V108', 'Domicilio01_RN_V109',
       'Domicilio01_RN_V110', 'Domicilio01_RN_V111',
       'Domicilio01_RN_V112', 'Domicilio01_RN_V113',
       'Domicilio01_RN_V114', 'Domicilio01_RN_V115',
       'Domicilio01_RN_V116', 'Domicilio01_RN_V117',
       'Domicilio01_RN_V118', 'Domicilio01_RN_V119',
       'Domicilio01_RN_V120', 'Domicilio01_RN_V121',
       'Domicilio01_RN_V122', 'Domicilio01_RN_V123',
       'Domicilio01_RN_V124', 'Domicilio01_RN_V125',
       'Domicilio01_RN_V126', 'Domicilio01_RN_V127',
       'Domicilio01_RN_V128', 'Domicilio01_RN_V129',
       'Domicilio01_RN_V130', 'Domicilio01_RN_V131',
       'Domicilio01_RN_V132', 'Domicilio01_RN_V133',
       'Domicilio01_RN_V134', 'Domicilio01_RN_V135',
       'Domicilio01_RN_V136', 'Domicilio01_RN_V137',
       'Domicilio01_RN_V138', 'Domicilio01_RN_V139',
       'Domicilio01_RN_V140', 'Domicilio01_RN_V141',
       'Domicilio01_RN_V142', 'Domicilio01_RN_V143',
       'Domicilio01_RN_V144', 'Domicilio01_RN_V145',
       'Domicilio01_RN_V146', 'Domicilio01_RN_V147',
       'Domicilio01_RN_V148', 'Domicilio01_RN_V149',
       'Domicilio01_RN_V150', 'Domicilio01_RN_V151',
       'Domicilio01_RN_V152', 'Domicilio01_RN_V153',
       'Domicilio01_RN_V154', 'Domicilio01_RN_V155',
       'Domicilio01_RN_V156', 'Domicilio01_RN_V157',
       'Domicilio01_RN_V158', 'Domicilio01_RN_V159',
       'Domicilio01_RN_V160', 'Domicilio01_RN_V161',
       'Domicilio01_RN_V162', 'Domicilio01_RN_V163',
       'Domicilio01_RN_V164', 'Domicilio01_RN_V165',
       'Domicilio01_RN_V166', 'Domicilio01_RN_V167',
       'Domicilio01_RN_V168', 'Domicilio01_RN_V169',
       'Domicilio01_RN_V170', 'Domicilio01_RN_V171',
       'Domicilio01_RN_V172', 'Domicilio01_RN_V173',
       'Domicilio01_RN_V174', 'Domicilio01_RN_V175',
       'Domicilio01_RN_V176', 'Domicilio01_RN_V177',
       'Domicilio01_RN_V178', 'Domicilio01_RN_V179',
       'Domicilio01_RN_V180', 'Domicilio01_RN_V181',
       'Domicilio01_RN_V182', 'Domicilio01_RN_V183',
       'Domicilio01_RN_V184', 'Domicilio01_RN_V185',
       'Domicilio01_RN_V186', 'Domicilio01_RN_V187',
       'Domicilio01_RN_V188', 'Domicilio01_RN_V189',
       'Domicilio01_RN_V190', 'Domicilio01_RN_V191',
       'Domicilio01_RN_V192', 'Domicilio01_RN_V193',
       'Domicilio01_RN_V194', 'Domicilio01_RN_V195',
       'Domicilio01_RN_V196', 'Domicilio01_RN_V197',
       'Domicilio01_RN_V198', 'Domicilio01_RN_V199',
       'Domicilio01_RN_V200', 'Domicilio01_RN_V201',
       'Domicilio01_RN_V202', 'Domicilio01_RN_V203',
       'Domicilio01_RN_V204', 'Domicilio01_RN_V205',
       'Domicilio01_RN_V206', 'Domicilio01_RN_V207',
       'Domicilio01_RN_V208', 'Domicilio01_RN_V209',
       'Domicilio01_RN_V210', 'Domicilio01_RN_V211',
       'Domicilio01_RN_V212', 'Domicilio01_RN_V213',
       'Domicilio01_RN_V214', 'Domicilio01_RN_V215',
       'Domicilio01_RN_V216', 'Domicilio01_RN_V217',
       'Domicilio01_RN_V218', 'Domicilio01_RN_V219',
       'Domicilio01_RN_V220', 'Domicilio01_RN_V221',
       'Domicilio01_RN_V222', 'Domicilio01_RN_V223',
       'Domicilio01_RN_V224', 'Domicilio01_RN_V225',
       'Domicilio01_RN_V226', 'Domicilio01_RN_V227',
       'Domicilio01_RN_V228', 'Domicilio01_RN_V229',
       'Domicilio01_RN_V230', 'Domicilio01_RN_V231',
       'Domicilio01_RN_V232', 'Domicilio01_RN_V233',
       'Domicilio01_RN_V234', 'Domicilio01_RN_V235',
       'Domicilio01_RN_V236', 'Domicilio01_RN_V237',
       'Domicilio01_RN_V238', 'Domicilio01_RN_V239',
       'Domicilio01_RN_V240', 'Domicilio01_RN_V241',
       'Domicilio02_RN_V001', 'Domicilio02_RN_V002',
       'Domicilio02_RN_V003', 'Domicilio02_RN_V004',
       'Domicilio02_RN_V005', 'Domicilio02_RN_V006',
       'Domicilio02_RN_V007', 'Domicilio02_RN_V008',
       'Domicilio02_RN_V009', 'Domicilio02_RN_V010',
       'Domicilio02_RN_V011', 'Domicilio02_RN_V012',
       'Domicilio02_RN_V013', 'Domicilio02_RN_V014',
       'Domicilio02_RN_V015', 'Domicilio02_RN_V016',
       'Domicilio02_RN_V017', 'Domicilio02_RN_V018',
       'Domicilio02_RN_V019', 'Domicilio02_RN_V020',
       'Domicilio02_RN_V021', 'Domicilio02_RN_V022',
       'Domicilio02_RN_V023', 'Domicilio02_RN_V024',
       'Domicilio02_RN_V025', 'Domicilio02_RN_V026',
       'Domicilio02_RN_V027', 'Domicilio02_RN_V028',
       'Domicilio02_RN_V029', 'Domicilio02_RN_V030',
       'Domicilio02_RN_V031', 'Domicilio02_RN_V032',
       'Domicilio02_RN_V033', 'Domicilio02_RN_V034',
       'Domicilio02_RN_V035', 'Domicilio02_RN_V036',
       'Domicilio02_RN_V037', 'Domicilio02_RN_V038',
       'Domicilio02_RN_V039', 'Domicilio02_RN_V040',
       'Domicilio02_RN_V041', 'Domicilio02_RN_V042',
       'Domicilio02_RN_V043', 'Domicilio02_RN_V044',
       'Domicilio02_RN_V045', 'Domicilio02_RN_V046',
       'Domicilio02_RN_V047', 'Domicilio02_RN_V048',
       'Domicilio02_RN_V049', 'Domicilio02_RN_V050',
       'Domicilio02_RN_V051', 'Domicilio02_RN_V052',
       'Domicilio02_RN_V053', 'Domicilio02_RN_V054',
       'Domicilio02_RN_V055', 'Domicilio02_RN_V056',
       'Domicilio02_RN_V057', 'Domicilio02_RN_V058',
       'Domicilio02_RN_V059', 'Domicilio02_RN_V060',
       'Domicilio02_RN_V061', 'Domicilio02_RN_V062',
       'Domicilio02_RN_V063', 'Domicilio02_RN_V064',
       'Domicilio02_RN_V065', 'Domicilio02_RN_V066',
       'Domicilio02_RN_V067', 'Domicilio02_RN_V068',
       'Domicilio02_RN_V069', 'Domicilio02_RN_V070',
       'Domicilio02_RN_V071', 'Domicilio02_RN_V072',
       'Domicilio02_RN_V073', 'Domicilio02_RN_V074',
       'Domicilio02_RN_V075', 'Domicilio02_RN_V076',
       'Domicilio02_RN_V077', 'Domicilio02_RN_V078',
       'Domicilio02_RN_V079', 'Domicilio02_RN_V080',
       'Domicilio02_RN_V081', 'Domicilio02_RN_V082',
       'Domicilio02_RN_V083', 'Domicilio02_RN_V084',
       'Domicilio02_RN_V085', 'Domicilio02_RN_V086',
       'Domicilio02_RN_V087', 'Domicilio02_RN_V088',
       'Domicilio02_RN_V089', 'Domicilio02_RN_V090',
       'Domicilio02_RN_V091', 'Domicilio02_RN_V092',
       'Domicilio02_RN_V093', 'Domicilio02_RN_V094',
       'Domicilio02_RN_V095', 'Domicilio02_RN_V096',
       'Domicilio02_RN_V097', 'Domicilio02_RN_V098',
       'Domicilio02_RN_V099', 'Domicilio02_RN_V100',
       'Domicilio02_RN_V101', 'Domicilio02_RN_V102',
       'Domicilio02_RN_V103', 'Domicilio02_RN_V104',
       'Domicilio02_RN_V105', 'Domicilio02_RN_V106',
       'Domicilio02_RN_V107', 'Domicilio02_RN_V108',
       'Domicilio02_RN_V109', 'Domicilio02_RN_V110',
       'Domicilio02_RN_V111', 'Domicilio02_RN_V112',
       'Domicilio02_RN_V113', 'Domicilio02_RN_V114',
       'Domicilio02_RN_V115', 'Domicilio02_RN_V116',
       'Domicilio02_RN_V117', 'Domicilio02_RN_V118',
       'Domicilio02_RN_V119', 'Domicilio02_RN_V120',
       'Domicilio02_RN_V121', 'Domicilio02_RN_V122',
       'Domicilio02_RN_V123', 'Domicilio02_RN_V124',
       'Domicilio02_RN_V125', 'Domicilio02_RN_V126',
       'Domicilio02_RN_V127', 'Domicilio02_RN_V128',
       'Domicilio02_RN_V129', 'Domicilio02_RN_V130',
       'Domicilio02_RN_V131', 'Domicilio02_RN_V132'], dtype=object)

In [16]:
#Salvando arquivo
domicilios_natal.to_csv("domicilios_natal.csv", index=False, encoding="ISO-8859-1")

In [17]:
print(len(domicilios_natal.Nome_do_bairro.unique()), 'bairros')
domicilios_natal.Nome_do_bairro.unique()

37 bairros

array(['Potengi', 'Redinha', 'Salinas', 'Igapó',
       'Nossa Senhora da Apresentação', 'Lagoa Azul', 'Pajuçara',
       'Lagoa Nova', 'Nova Descoberta', 'NATAL (demais setores)',
       'Capim Macio', 'Ponta Negra', 'Neópolis', 'Pitimbú', 'Candelária',
       'Cidade Alta', 'Ribeira', 'Rocas', 'Santos Reis', 'Praia do Meio',
       'Areia Preta', 'Mãe Luíza', 'Petrópolis', 'Tirol',
       'Barro Vermelho', 'Lagoa Seca', 'Alecrim', 'Cidade da Esperança',
       'Cidade Nova', 'Planalto', 'Guarapés', 'Filipe Camarão',
       'Bom Pastor', 'Nordeste', 'Quintas', 'Dix-Sept Rosado',
       'Nossa Senhora de Nazaré'], dtype=object)

### Testando agrupamento

Agrupando domicilios de natal por bairro

In [18]:
dom_natal_bairros = domicilios_natal.groupby('Nome_do_bairro', as_index=False).sum()
dom_natal_bairros = dom_natal_bairros.drop(dom_natal_bairros.iloc[:, 1:23],axis = 1)
print(dom_natal_bairros.info())
print(dom_natal_bairros.shape)
dom_natal_bairros.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Columns: 374 entries, Nome_do_bairro to Domicilio02_RN_V132
dtypes: float64(368), int64(5), object(1)
memory usage: 108.2+ KB
None
(37, 374)

,Nome_do_bairro,Domicilio01_RN_V001,Domicilio01_RN_V002,Domicilio01_RN_V003,Domicilio01_RN_V004,Domicilio01_RN_V005,Domicilio01_RN_V006,Domicilio01_RN_V007,Domicilio01_RN_V008,Domicilio01_RN_V009,...,Domicilio02_RN_V123,Domicilio02_RN_V124,Domicilio02_RN_V125,Domicilio02_RN_V126,Domicilio02_RN_V127,Domicilio02_RN_V128,Domicilio02_RN_V129,Domicilio02_RN_V130,Domicilio02_RN_V131,Domicilio02_RN_V132
0,Alecrim,8708,8646,6692.0,1304.0,606.0,4689.0,73.0,3368.0,222.0,...,6.0,0.0,3.0,15711.0,15386.0,325.0,1.0,14616.0,614.0,156.0
1,Areia Preta,609,595,407.0,3.0,185.0,381.0,9.0,180.0,1.0,...,0.0,0.0,0.0,1100.0,1097.0,3.0,0.0,1076.0,20.0,1.0
2,Barro Vermelho,3081,2883,1436.0,67.0,1380.0,2072.0,169.0,558.0,4.0,...,0.0,0.0,0.0,5497.0,5493.0,4.0,0.0,5407.0,72.0,14.0
3,Bom Pastor,5199,5191,4447.0,643.0,39.0,3299.0,18.0,1598.0,13.0,...,228.0,52.0,19.0,9303.0,9042.0,261.0,18.0,8185.0,522.0,335.0
4,Candelária,6910,6871,3628.0,487.0,2753.0,4521.0,402.0,1691.0,29.0,...,13.0,0.0,8.0,12353.0,12351.0,2.0,0.0,12036.0,277.0,38.0

In [19]:
#dom_natal_bairros.to_csv("dom_natal_bairros.csv", index=False, encoding="ISO-8859-1")